h1{
    font-size: 28px;
    font-family: "Comic Sans MS";
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}
.section{
    margin-top: 50px;
}
.box{
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: grey;
    border: 2px solid black;
    margin: 10px;
    display: block;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.box_head{
    font-family: "Comic Sans MS";
    background-color: aliceblue;
    float: right;
    min-width: 50px;
    text-align: center;
    position: relative;
    right: 0;
    padding: 5px 15px;
    border: 2px solid black;
    display: block;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.box_text p{
    clear: both !important;
    font-family: Arial;
    font-size: 16px;
    padding: 10px;
    margin: 0px;
}

@media (min-width: 992px) {
    [class^="col"] {
        float: left;

        box-sizing: border-box;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    [class^="col"] {
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}


@media (max-width: 767px) {
    [class^="col"] {
        float: left;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 74.99%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}